{
  "extends": [
    "gitmoji"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "init",
        "feature",
        "tests",
        "docs",
        "types",
        "config",
        "devscripts",
        "binary",
        "assets",
        "ui",
        "i18n",
        "bugfix",
        "hotfix",
        "fix",
        "detect",
        "arch",
        "codestyle",
        "refactor",
        "deploy",
        "fixci",
        "revert",
        "merge",
        "tags"
      ]
    ]
  }
}