# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS ###############################

.github/
.husky/
.vscode/
coverage/
docs/
ignore/
lib/
node_modules/

# FILES #################################
