# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS ###############################

.git/
.github/
.husky/
.vscode/
ignore/
lib/
node_modules/

# FILES #################################

.commitlintrc
.czrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc.json
package.json
tsconfig.json

package-lock.json
yarn.lock
pnpm-lock.yaml
