# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FILES #################################
.commitlintrc
.czrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
package.json
tsconfig.json

# FOLDERS ###############################
.git
.husky
.vscode
node_modules
offline
dist
build
lib
