#https://git-scm.com/docs/gitignore

# FOLDERS ###############################

coverage/
ignore/
lib/
node_modules/

# FILES #################################

package-lock.json
yarn.lock
pnpm-lock.yaml
