# https://docs.npmjs.com/cli/v7/using-npm/developers#keeping-files-out-of-your-package

# FOLDERS ###############################

.git/
.github/
.husky/
.vscode/
ignore/
lib/
node_modules/
scripts/

# FILES #################################

.commitlintrc
.czrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc
# package.json
# tsconfig.json
